
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    padding: 0 15px;
    
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: auto;
  width: 70%;
  margin-top: 50px;
  
  }
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      text-decoration: none;
    }
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    
  }
 
  
  .h1_first_page{
    text-align: center;
  }
  
  
  
  
  
  
  
  
body
{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
 
.table {
    border-collapse: collapse;
    width: 100%;
}


.table th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #ffffff;

}
.table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}



.container_register {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
  }
  
  
  
 .container_register label {
    display: block;
    margin-bottom: 5px;
  }
  
  .container_register input[type="text"],
  .container_register input[type="email"],
  .container_register  input[type="password"],
  .container_register  input[type="number"],

  .container_register  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    

  }
  

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #174e80;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #174e80;
  }
  .form select{
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    
  }
  .form input[type="submit"]
  {
    width: auto;
      padding: 10px;
      background-color: #174e80;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 20px ;
      width: 150px;
  }
  .profile label{
    display: inline;
   }
   h2{
    color: #000;
  }
  
 